.grid-box {
  display: grid;
  width: 100%;
  margin: auto;
  gap: 10px;
  margin: 0px 70px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
}

.grid-item {
  height: 550px;
}
