:root {
  background-color: #030c2e;
  color: white;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.heading {
  width: 500px;
  height: 170px;
  padding: 0px 0px 0px;
}

.definition {
  width: 500px;
  height: 170px;
  margin: -30px 0px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  width: 100px;
  height: 100px;
}

nav .logoText {
  font-size: 25px;
  margin-top: 25px;
  margin-right: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  height: 25px;
  cursor: pointer;
  list-style-type: none;
  padding: 0 15px;
}

nav ul li:hover {
  border-bottom: 1px solid white;
}

.col-4 img {
  width: 550;
  height: 550px;
  margin: -70px -80px 0px;
}

.heading p {
  font-size: 50px;
}

.definition p {
  font-size: 20px;
}

.definition .button {
  width: 150px;
  height: 50px;
  border-radius: 5%;
  background-color: #122052;
  cursor: pointer;
}

.definition .button p {
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  nav ul li {
    float: none;
    display: block;
    text-align: center;
  }
}
